<form class="app-radiobuttons">
    <fieldset>
        <input type="radio" id="@@id_first_input" name="@@group_name">
        <label for="@@id_first_input">@@label_first</label>
    </fieldset>
    <fieldset>
        <input type="radio" id="@@id_second_input" name="@@group_name">
        <label for="@@id_second_input">@@label_second</label>
    </fieldset>
    <fieldset>
        <input type="radio" id="@@id_third_input" name="@@group_name">
        <label for="@@id_third_input">@@label_third</label>
    </fieldset>
</form>