.app-header {
    color: $app-header;
    font-size: 70px;
    border-bottom: 3px solid $app-header;
    text-align: center;
    line-height: 0.6;
    margin: 0;
    padding: 70px 0 0 0;
    letter-spacing: 7px;
    text-transform: uppercase;
}